@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

.material-bubble {
  position: relative;
  overflow: hidden;
  display: inline-block;

  &::after {
    content: "";
    position: absolute;
    top: -30px;        
    left: -30px;
    width: 200px;
    height: 200px;
    background-color: rgba(200, 200, 200, 0.2); 
    border-radius: 50%;
    transform: scale(0.1);
    opacity: 0;
    z-index: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  &:hover::after {
    opacity: 1;
    transform: scale(1);
  }
}


/* Add in your global CSS */
.fade-up {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease-out;
}

.fade-left {
  opacity: 0;
  transform: translateX(-20px);
  transition: all 0.6s ease-out;
}

.fade-right {
  opacity: 0;
  transform: translateX(20px);
  transition: all 0.6s ease-out;
}

.zoom-in {
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.6s ease-out;
}

.in-view {
  opacity: 1;
  transform: translateX(0) translateY(0) scale(1);
}



.input-ui {
  @apply w-full border rounded-xl px-4 py-3 focus:ring-2 focus:ring-blue-500 outline-none bg-white;
}

.btn-outline-blue {
  @apply border border-blue-600 text-blue-600 py-2 rounded-lg hover:bg-blue-50;
}

.btn-outline-red {
  @apply border border-red-500 text-red-500 py-2 rounded-lg hover:bg-red-50;
}
